*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Alkatra', cursive;
    background-image: url(./img/1366_2000.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#container{
    background-color: rgba(0,0,0,0.3);
    margin: auto;
    max-width: 1240px;
    margin-top: 30px;
    padding: 1rem;
}

span{
    color: red;
}

header{
    text-align: center;
}

header h1{
    font-size: 4rem;
    letter-spacing: 0.05em;
}

#form-container{
    background-color: rgba(0,0,0,0.8);
    margin: auto;
    width: 500px;
    padding: 30px 40px;
    margin-bottom: 100px;
}

#name, #age, #email, #dropdown, #feedback{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.input{
    margin-top: 5px;
}

#checkbox, #radio{
    margin-top: 10px;
}

textarea{
    resize: none;
}

.form-submit{
    width: 170px;
    margin: auto;
}

#form-button{
    width: 140px;
    height: 45px;
    background-color: #009FD6;
    color: white;
    border: none;
    border-radius: 50px;
}

#form-button:hover{
    cursor: pointer;
    opacity: 0.5;
    font-size: 110%;
    font-weight: bold;
}